body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #c1bdbe;
  background-image: linear-gradient(150deg, #f3ece6, #fffbf8);
}

img, object {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

nav {
  background-color: #344413;
  height: 100px;
  width: 100%;
  padding: 0 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

@media only screen and (min-width: 680px) {
  nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav > a {
  min-width: 80px;
  width: 10%;
  height: 60px;
  padding: 5px;
  background-color: #445819;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  margin: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  word-break: break-word;
  font-size: 15px;
}

nav > a > span {
  display: none;
}

nav > a:hover {
  -webkit-animation-name: hoverCube;
          animation-name: hoverCube;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

nav > a:active {
  -webkit-animation-name: activeCube;
          animation-name: activeCube;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

nav > a:hover, nav a.activeMenu {
  background-image: none !important;
}

nav > a:hover > span, nav a.activeMenu > span {
  display: initial;
}

@-webkit-keyframes hoverCube {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  25% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
}

@keyframes hoverCube {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  25% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
}

@-webkit-keyframes activeCube {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  25% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
            transform: scale3d(0.95, 0.95, 0.95);
  }
  to {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
            transform: scale3d(0.95, 0.95, 0.95);
  }
}

@keyframes activeCube {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  25% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
            transform: scale3d(0.95, 0.95, 0.95);
  }
  to {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
            transform: scale3d(0.95, 0.95, 0.95);
  }
}

main {
  padding: 50px;
  min-height: calc(100vh - 470px);
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 300;
  letter-spacing: 0.6px;
  line-height: 35px;
}

@media only screen and (min-width: 768px) {
  main {
    min-height: calc(100vh - 338px);
  }
}

@media only screen and (min-width: 1100px) {
  main {
    margin: 0 5%;
  }
}

footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4db347), to(#48a843));
  background-image: linear-gradient(#4db347, #48a843);
  color: #000;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  width: 100%;
}

footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
}

footer > div > a:link {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #1d153a;
}

footer > div > a:visited {
  color: #29051b;
}
