body{
    background: black;
}

nav{
    background-color: green;
    background: linear-gradient(90deg, rgb(0, 27, 0), rgb(0, 43, 0));
    color: #cacaca;
    box-shadow: black;
    box-shadow: #000000d1 0px 0px 20px;
    height: 100vh;
    width: 350px;
    grid-template-rows: minmax(calc(1.75rem + 10px), 10%) auto;
    user-select: none;
    > a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        border-bottom: 2px #00000018 solid;
        &:hover{
            background-color: #0000001a;
        }
        &.home{
            font-size: 1.75rem;
        }
    }
}