@font-face {
    font-family: "KING";
    src: url("../font/KING.TTF") format('truetype');
}

body{
    margin:0;padding:0;
    min-height:100vh;
    background:#c1bdbe;
    background-image:url(../img/background.png);
}

nav{
    background-color:#607d23;
    height:120px;
    width:100%;
    padding:0 10px 0 10px;
    display:flex;
    flex-wrap:nowrap;
    align-items:center;
    justify-content: flex-start;
    @media only screen and (min-width: 680px){
        justify-content:center;
    }
    overflow-x:auto;
    overflow-y:hidden;
    > a{
        width:80px;
        height:80px;
        padding:5px;
        background-color:#445819;
        margin:10px;
        flex-shrink:0;
        display:flex;
        justify-content:center;
        align-items:center;
        text-align:center;
        text-decoration:none;
        color:#fff;
        word-break: break-word;
        font-size:15px;
        > span{
            display:none;
        }
    }
    > a:hover{
        animation-name:hoverCube;
        animation-duration:0.5s;
        animation-fill-mode:both;
    }
    > a:active{
        animation-name:activeCube;
        animation-duration:0.5s;
        animation-fill-mode:both;
    }
    > a:hover,a:target{
        background-image: none !important;
        > span{
            display:initial;
        }
    }

}

@keyframes hoverCube {
    from {
        transform: scale3d(1, 1, 1);
    }

    25% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        transform: scale3d(1.1, 1.1, 1.1);
    }
}
@keyframes activeCube {
    from {
        transform: scale3d(1, 1, 1);
    }

    25% {
        transform: scale3d(0.95, 0.95, 0.95);
    }

    to {
        transform: scale3d(0.95, 0.95, 0.95);
    }
}

main{
    background-color:#f0ebee;
    background-image:url(../img/background-text.png);
    padding:50px;
    @media only screen and (min-width: 768px){margin:0 10%;}
    min-height:600px;
    font-family:"king";
    font-weight:900;
    box-shadow: #a4c06a 0 0 10px;
}

footer{
    background-color:#60a65c;
    color:#000;
    font-size:20px;
    display:flex;
    flex-wrap:wrap;
    padding:30px;
    width:100%;
    > div{
        display:flex;
        flex-wrap:wrap;
        padding: 20px 0;
        > a{
            width:100%;
            text-align:center;
            text-decoration:none;
        }
    }
}