@font-face {
    font-family: "Raleway";
    src: url("font/Raleway-Medium.ttf");
}
html{
    font-size:16px;
    @media only screen and (max-width: 768px) {font-size:14px;}
    scrollbar-color: #555 #000000;
    font-family: "Raleway";
    letter-spacing: 0.01rem;
}
body::-webkit-scrollbar {
    width: 12px;
    background-color: hsl(262deg, 21%, 4%);
}
body::-webkit-scrollbar-thumb {background: rgba(85, 85, 85, 0.7);}
body::-webkit-scrollbar-thumb:hover {background:rgba(136, 136, 136, 0.7);}

body{
    background:hsl(262deg, 21%, 4%);
    color:#dadada;
    min-height:100vh;
    display:grid;
    grid-template-rows:100px 100px auto 300px;
}

a{color:#bb5a69;}

nav{
    background:hsl(262deg, 21%, 4%);
    color:hsl(0deg, 0%, 70%);
    height:100px;
    font-weight:bold;
    font-size:1.5rem;
    user-select:none;
    >a{
        &:target{
            background:#ffffff0c;
            color:#bb5a69;
        }
        &:hover{background:#ffffff0c;}
    }
}

body > header{
    font-size:2.5rem;
    height:100px;
    color:#bb5a69;
}

main{
    display:grid;
    grid-template-columns:25% 50% 25%;
    @media only screen and (max-width: 1760px) {grid-template-columns:20% 60% 20%;}
    @media only screen and (max-width: 1200px) {grid-template-columns:8.3334% 83.333333333% 8.3334%;}
    align-items:start;
    > article{
        background:hsl(262deg, 21%, 7%);
        color:hsl(0deg, 0%, 80%);
        grid-column:2 / 3;
        @media only screen and (max-width: 1200px) {grid-column:1 / 4;}
        padding:50px 100px;
        @media only screen and (max-width: 768px) {padding:50px 50px;}
        margin-bottom:100px;
        >h1{
            font-size:3rem;
            margin-block-end:0;
            color:hsl(0deg, 0%, 80%);
        }
        >h6{
            margin-block-start:0;
            color:#929292;
        }
        >p{
            font-size:1.25rem;
            color:hsl(0deg, 0%, 80%);
        }
        img{
            max-width: 100%;
        }
    }
}

footer{
    display:grid;
    background:hsl(262deg, 21%, 4%);
    color:white;
    height:200px;
    margin-top:100px;
    grid-template-rows:50% 50%;
    grid-template-columns:25% 25% 25% 25%;
    bottom:0;
    >a{
        background:#ffffff06;
        &:hover{background:#ffffff0c;}
        >img{
            max-width:60px;
            max-width:60px;
            filter:saturate(0) brightness(10);
        }
        &:hover > img{filter:none;}
        &.github{
            >img{
                filter:none;
                &.inverse{display:none;}
            }
            &:hover > img{
                &.normal{display:none}
                &.inverse{display:block;}
            }
        }
    }
}