@font-face {
  font-family: "Raleway-SemiBold";
  src: url("font/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "KING";
  src: url("font/KING.TTF");
}
@font-face {
  font-family: "Top-Secret";
  src: url("font/Top-Secret.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("font/Lato-Regular.ttf");
}
body{
     word-break: break-word;
     font-family: "Raleway-SemiBold",Arial;
     overflow-x: hidden;
     min-height: 100vh;
}
::-moz-selection{background: #cbdabe;color:#000000;}
::selection {background: #cbdabe;color:#000000;}
.allHeight{min-height:calc(100vh);}
.allHeight-min{min-height:calc(100vh - 140px);}
.allHeight2{height:calc(100vh);}
@media only screen and (min-width: 768px) {
    header{position: fixed;}
    .allHeight,.allHeight-min{min-height:calc(100vh - 70px);}
    .allHeight2{height:calc(100vh - 70px);}
}
@media only screen and (max-width: 767px) {
    header > a{
        justify-content: center;
        align-content: center;
        align-items: center;
        overflow: hidden;
    }
}
header{
    /* height: 70px; */
    background: #ffffffaa;
    z-index: 10;
}
header > a > img{
    margin:10px 20px;
}
@keyframes lineMenu {0% {background-position-x: 0%;}}
header > nav > a{
    padding: 0 20px;
    height: 70px;
    display: flex;
    align-items: center;
    padding-top: 6px;
    border-bottom: solid 6px #ffffff00;
    text-decoration: none;
    color:#000000;
}header > nav > a:hover{
    transition: all 0.2s linear;
    /* border-bottom: solid 6px #6bb16d; */
    background: url("img/border.svg");
    background-size: 400% 70px;
    background-position-x: 100%;
    
    animation: lineMenu 1s;
}header > nav > a:target{
    background: #6bb16d;
}

@media only screen and (min-width: 768px) {
    .headerSpace{
        width: 100%;
        height: 70px;
    }
}

@keyframes zoomView {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    25% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.2, 1.2, 1.2);
    }
    100% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
}
.product{
    color: #000000;
    padding:0 1%;
    position: relative;
    margin: 0 0 2% 0;
}.product > div{
    width: 100%;
    background-color:#00b128;
}.product > div:hover{
    animation-name:zoomView;
    animation-duration:1s;
    animation-fill-mode:both;
    z-index: 5;
}
.product > div > p{
    padding: 0 10%;
}
.product-more{
    z-index: 1;
    padding: 0 10%;
    background: #D3D3D3;
    transition: all 0.1s linear;
}
.product-more-action{
    height: 24px;
}.product-more-action:hover > i{
    text-shadow: #000 0 0 15px;
}

.responsive_exemple{
    padding: 20px;
    border: solid 4px black;
    border-radius: 10px;
    width: 500px;
    animation-name: responsive_exemple;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    word-break: break-all;
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
}@keyframes responsive_exemple {
    0% {width: 500px;}
    25% {width: 150px;}
    50% {width: 500px;}
}
.search_exemple{
    animation-name: search_exemple;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}@keyframes search_exemple {
    0% {transform: rotate(-90deg);}
    50% {transform: rotate(-130deg);margin-left:-30px;}
    100% {transform: rotate(-90deg);}
}

.animations_exemple *{
    animation-duration: 2s;
}

@media only screen and (min-width: 768px) {.your-business{grid-column: 1 / 3;}}
