<footer>
        <div class="col-6">
            <a href="/projetos/#projects">Meus Projetos</a>
            <a href="/textos/#texts">Meus Textos</a>
            <a href="/recomendacoes/#recommendations">Minhas Recomendações</a>
            <a href="/portfolio/#portfolio">Meu Portifólio</a>
            <a href="/sobre/#about">Sobre Mim</a>
            <a href="/empresas/#business">Minhas Tentativas de Empresa</a>
        </div>
        <div class="col-6">
            <a href="https://github.com/JumperLuko">GIT</a>
            <a href="https://t.me/Jumper_Luko">Telegram</a>
            <a href="mailto:Jumper.Luko@gmail.com">Jumper.Luko@gmail.com</a>
            <a href="https://www.linkedin.com/in/thiago-augusto-da-costa-689b4711a/">Linkedin</a>
            <a href="https://twitter.com/Jumper_Luko">Twitter</a>
        </div>
    </footer>